@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.skil_btn{
  @apply
   bg-black mx-3 my-5 border-2 border-pink-700 rounded-full size-28 sm:size-28 font-extrabold text-lg  hover:animate-pulse animate-bounce
}
.ed_div{
  @apply
  my-7 
}
.btdiv{
  @apply
  size-64 
}
.bt2div{
  @apply
  size-64 
}
.bt3div{
  @apply
  size-64 
}


